<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monkesoft.oura.mybatis.mapper.ExtMapper">

    <insert id="insertExt" parameterType="com.monkesoft.oura.entity.ExtInfo">
        insert into oura_ext(`group`,objId,extFieldId,value)
         values(#{group},#{objId},#{extFieldId},#{value})
    </insert>


    <update id="updateExt" parameterType="com.monkesoft.oura.entity.ExtInfo">
        update oura_ext set value=#{value}
            where `group`=#{group} and objId=#{objId} and extFieldId=#{extFieldId}
    </update>

    <delete id="deleteExt">
        delete from oura_ext where `group`=#{group} and objId=#{objId}
    </delete>

    <delete id="deleteSingleExt">
        delete from oura_ext where `group`=#{group} and objId=#{objId} and extFieldId=#{extFieldId}
    </delete>

    <select id="getExtOfObj" resultType="com.monkesoft.oura.entity.ExtInfo" >
        select * from oura_ext where `group`=#{group} and objId=#{objId}
    </select>

</mapper>