<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monkesoft.oura.mybatis.mapper.OrganizationMapper">


    <insert id="insertOrg" parameterType="com.monkesoft.oura.entity.OrganizationInfo">
        insert into oura_organization(id,name,parentId,level,`desc`)
         values(#{id},#{name},#{parentId},#{level},#{desc})
    </insert>


    <update id="updateOrg" parameterType="com.monkesoft.oura.entity.OrganizationInfo">
        update oura_organization set name=#{name},parentId=#{parentId},level=#{level},status=#{status},`desc`=#{desc}
            where id=#{id}
    </update>

    <update id="updateOrgStatus">
        update oura_organization set status=#{status} where id=#{id}
    </update>

    <delete id="deleteOrg" parameterType="java.lang.String">
        delete from oura_organization where id=#{id}
    </delete>

    <select id="getOrgById" parameterType="java.lang.String" resultType="com.monkesoft.oura.entity.OrganizationInfo" >
        select * from oura_organization where id = #{id}
    </select>

    <select id="getOrgs" resultType="com.monkesoft.oura.entity.OrganizationInfo" >
        select * from oura_organization order by id
    </select>
    <select id="getSubOrgs" resultType="com.monkesoft.oura.entity.OrganizationInfo" >
        select * from oura_organization where parentId = #{parentId} order by level,id
    </select>

    <select id="getOrgsOfUser" resultType="com.monkesoft.oura.entity.OrgUserVO" >
        select o.*, ou.userid,ou.jobid,j.name as jobName from oura_organization o, oura_org_user ou, oura_job j where o.id=ou.orgid and ou.jobid=j.id and ou.userid= #{userId}
    </select>


</mapper>