<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monkesoft.oura.mybatis.mapper.OrganizationMapper">


<!--    <insert id="insertUser" parameterType="com.monkesoft.oura.entity.UserInfo">-->
<!--        insert into user(id,name,password,email,phone,sex,age,address)-->
<!--         values(#{id},#{name},#{password},#{email},#{phone},#{sex},#{age},#{address})-->
<!--    </insert>-->


<!--    <update id="updateUser" parameterType="com.monkesoft.oura.entity.UserInfo">-->
<!--        update user set name=#{name},password=#{password},email=#{email},phone=#{phone},sex=#{sex},age=#{age},address=#{address}-->
<!--            where id=#{id}-->
<!--    </update>-->

<!--    <delete id="deleteUser" parameterType="java.lang.String">-->
<!--        delete from user where id=#{id}-->
<!--    </delete>-->

    <select id="getOrgById" parameterType="java.lang.String" resultType="com.monkesoft.oura.entity.OrganizationInfo" >
        select * from organization where id = #{id}
    </select>

    <select id="getOrgs" resultType="com.monkesoft.oura.entity.OrganizationInfo" >
        select * from organization
    </select>
    <select id="getSubOrgs" resultType="com.monkesoft.oura.entity.OrganizationInfo" >
        select * from organization where parentId = #{parentId}
    </select>

    <select id="getOrgsOfUser" resultType="com.monkesoft.oura.entity.OrgUserVO" >
        select o.*, ou.userid,ou.jobid from organization o, org_user ou where o.id=ou.orgid and ou.userid= #{userId}
    </select>

<!--    <select id="getUsersOfRole" resultType="com.monkesoft.oura.entity.UserRoleVO" >-->
<!--        select u.*, ru.roleid from user u, role_user ru where u.id=ru.userid and ru.roleid= #{roleId}-->
<!--    </select>-->

</mapper>